<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-dark bg-dark">
  <button type="button" class="btn btn-primary"><a [routerLink]="['/home']" routerLinkActive="active"  style="color:black" class="alert-link">Home</a></button>
  <button type="button" class="btn btn-success" *ngIf="!hide"><a [routerLink]="['/shop']" routerLinkActive="active" style="color:black" class="alert-link">Shopping</a></button>
  <button type="button" class="btn btn-warning" *ngIf="!hide"><a [routerLink]="['/collections']" routerLinkActive="active" style="color:black" class="alert-link">Collections</a></button>
  <button type="button" class="btn btn-info" *ngIf="!admin"><a [routerLink]="['/settings']" routerLinkActive="active" style="color:black" class="alert-link">Settings</a></button>
  <button type="button" class="btn btn-danger" (click)="log()"><a style="color:black" class="alert-link">{{logged}}</a></button>
  <label style='color:red;'*ngIf="!admin">SHOP MANAGER LOGGED IN</label>
</nav>

<router-outlet></router-outlet>
